<header>
  <img src="https://angular.io/assets/images/logos/angular/angular.png" />
  <span>Hello there! It's my Angular Todo list.</span>
</header>
<div class="container">
  <form (submit)="addTodo(todo)">
    <input #todo type="text" placeholder="What are you want to do?">
  </form>

  <div class="no-todos" *ngIf="!todos.length">No todos now</div>
  <div *ngIf="todos.length">
    <h2>Todos:</h2>
    <ul>
      <li *ngFor="let todo of todos">
        {{todo}}
        <button (click)="removeTodo(todo) ">X</button>
      </li>
    </ul>
  </div>
</div>
<footer>
  <span>Made by mavrique</span>
</footer>
